@import "tailwindcss";
@import "flowbite/src/themes/default";

@theme {
 --font-sans: 'Sora', 'sans-serif';
 --color-gray-text: #7A7A7A;
 --color-bg-card: #FCFBF9;
 --color-gray-secondbackground: #FDFDFD;
 --color-gray-line: #D8DBDB;
 --shadow-xl-full:  0 0 20px rgba(0, 0, 0, 0.25) ;
 --shadow-normal-full:  0 0 6px rgba(0, 0, 0, 0.1) ;
}

body {
  @apply font-sans;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}
