@import "tailwindcss";


@theme {
 --font-sans: 'Sora', 'sans-serif';
 --color-gray-text: #7A7A7A;
 --color-bg-card: #FCFBF9;
 --color-gray-secondbackground: #FDFDFD;
 --color-gray-line: #D8DBDB;
}

body {
  @apply font-sans;
}

